# Ignore Bin Files
bin/*

# Keep Bin
!bin

# Ignore Shell Script
src/run.sh

# Ignore UserFiles
!src/Bank/users
src/Bank/users/*
!src/Bank/creditCards
src/Bank/creditCards/*
!src/MBec/usersFiles
src/MBec/usersFiles/*
src/MBec/creditCard/*
!src/MBec/creditCard

# Ignore pychache
!src/Bank/__pycache__
!src/MBec/__pycache__
src/Bank/__pycache__/*
src/MBec/__pycache__/*
src/Store/__pycache__/*
out.txt
src/MBec/test.py
!src/Bank/auth
src/Bank/auth/*
src/MBec/testCert.py

src/test.py
src/MBec/bank.auth
path.txt
src/Store/bank.auth
